/*
  Designed and Developed by Kevin Chisaki
  Design System by: Tachyons.io
*/

@media (--breakpoint-not-small) {

  .ditto-header {
    background: linear-gradient(239.42deg, #BA68C8 0%, #6890E8 100%);
    color: #ffffff;
    text-align: center;
    height: 69vh;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .swoosh {
    position: absolute;
    display: block;
    min-width: 100%;
    width: 100%;
    bottom: -1px;
  }

  .content-header > h1 {
    margin-top: 100px;
    margin-bottom: 14px;
  }

  .content-header > h2 {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .discord-button {
    background: linear-gradient(257.92deg, #485563 0%, #29323C 100%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 12px 30px;
  }

  .video-container {
    width: 100%;
    z-index: 999;
  }

  .ditto-video {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
    background: #3f4149;
    position: absolute;
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px; 
    z-index: 999;
    width: 95%;
  }

  .ditto-video > video {
    width: 100%;
    height: auto;
  }

  /* section {
    display: flex;
    flex-direction: column;
  } */

  .details-row {
    margin-top: 14vh;
  }

  .details {
  text-align: center;
  }

  .details > h2 {
    line-height: 1.8rem;
  }

  .showcase-img {
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  .showcase-details {
    text-align: center;
  }

  .showcase-details > h2 {
    line-height: 1.8rem;
  }

  .ditto-footer {
    background: linear-gradient(239.42deg, #BA68C8 0%, #6890E8 100%);
    color: #ffffff;
    text-align: center;
    height: 60vh;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .content-footer > h1 {
    margin-top: 34vw;
    margin-bottom: 14px;
  }

  .content-footer > h2 {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .github-button {
    background: linear-gradient(257.92deg, #485563 0%, #29323C 100%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 10px 60px;
  }

  .swoosh-bottom {
    position: absolute;
    display: block;
    min-width: 100%;
    width: 100%;
    top: -1px;
  }

  .fa-icon {
    font-size: 1.6em;
    padding-right: 10px;
  }

  .credits {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    color: #ffffff;
    min-width: 100%;
    width: 100%;
    bottom: 0;
  }

  .credits > p > a {
    text-decoration: none;
  }

  .credits > p > a:hover {
    text-decoration: underline;
  }

  .credits > p > span > a {
    text-decoration: none;
    padding: 0px 1em;
  }

  .credits > p > span > a:hover {
    text-decoration: underline;
  }

  br {
    display: none;
  }

  .omega {

  }

  .ditto-soon {
    position: absolute;
    display: block;
    top: 154px;
  }

}

@media (--breakpoint-medium) {
  

  
}

@media (--breakpoint-large) {

  /* section {
    display: flex;
    flex-direction: row;
  } */
  
  .ditto-header {
    height: 80vh;
  }

  .ditto-video {
    padding: 40px;
    width: auto;
  }

  .ditto-video > video {
    width: 100%;
    height: auto;
  }

  .details-row {
    margin-top: 14vh;
  }

  .showcase-img {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  }

  .showcase-details {
    text-align: left;
  }

  br {
    display: inline-block;
  }

  .ditto-footer {
    height: 70vh;
  }

  .content-footer > h1 {
    margin-top: 300px;
    margin-bottom: 14px;
  }
  
}